.search {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  position: relative;
}

.input {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  width: 100%;

  &::placeholder {
    color: lightgray;
    font-size: 14px;

    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}

.clear {
  width: 18px;
  height: 18px;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 14px;
  cursor: pointer;
}

.friends {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}

.friends:hover {
  background-color: #00378a;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
