.input {
  height: 70px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty {
  height: 70px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputText {
  border: 0;
  width: 100%;
  outline: none;
  color: black;
  font-size: 18px;
}

.inputText::placeholder {
  color: lightgray;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon:hover {
  transition: height 0.2s ease-in-out;
  width: 21px;
  height: 21px;
}

.icon:active {
  transition: height 0.2s ease-in-out;
  width: 20px;
  height: 20px;
}

.sendBtn {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  color: #fff;
  background-color: #0056d6;
}

.sendBtn:hover {
  background-color: #004cbd;
}

.sendBtn:active {
  background-color: #003c96;
}