#root {
  background-color: #0d6efd;
}

.addAvatar {
  cursor: pointer;
}

.addAvatar > img {
  width: 40px;
}

.wrapper {
  width: 80%;
  height: 85%;
  /* border: 1px solid #fff; */
  border-radius: 10px;
  overflow: hidden;
}

.aside {
  flex: 1;
  /* border-right: 1px solid #0056d6; */
  background-color: #0056d6;
}

.chat {
  flex: 2;
}

.chatInfo {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #0e63e3;
  padding: 10px;
  color: lightgray;
}
